
*.cache
*.vsidx
*.lock
HTMLTemplateGenerator/.vs/HTMLTemplateGenerator/v17/.suo
HTMLTemplateGenerator/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
HTMLTemplateGenerator/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
HTMLTemplateGenerator/obj/Release/HTMLTemplateGenerator.csproj.FileListAbsolute.txt
VideoHelper/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
VideoHelper/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
VideoHelper/.vs/VideoHelper/v17/.suo
VideoHelper/obj/Release/VideoHelper.csproj.FileListAbsolute.txt
VideoHelper/obj/Release/VideoHelper.exe
VideoHelper/obj/Release/VideoHelper.pdb
VideoHelper/app/VideoHelper.pdb
VideoHelper/app/VideoHelper.exe.config
.vs/
.vs
.vs/*
